<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Campground</title>
  </head>
  <body>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
      <div>
        <input
          type="text"
          name="title"
          placeholder="title"
          value="<%= campground.title %>"
        />
      </div>
      <div>
        <input
          type="text"
          name="price"
          placeholder="price"
          value="<%= campground.price %>"
        />
      </div>
      <div>
        <input
          type="text"
          name="description"
          placeholder="description"
          value="<%= campground.description %>"
        />
      </div>
      <div>
        <input
          type="text"
          name="location"
          placeholder="location"
          value="<%= campground.location %>"
        />
      </div>
      <button>edit</button>
    </form>
    <button><a href="/campgrounds">home</a></button>
  </body>
</html>
