<% layout('layouts/boilerplate') %>
<h1 class="text-center">Edit Campground</h1>
<div class="row">
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id%>?_method=PUT"
      method="POST"
      autocomplete="off"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title:</label>
        <input
          class="form-control"
          id="title"
          type="text"
          name="title"
          placeholder="Puncak Lawang"
          value="<%= campground.title %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="price">Price:</label>
        <div class="input-group mb-3">
          <span class="input-group-text">$</span>
          <input
            id="price"
            type="text"
            class="form-control"
            placeholder="23.5"
            name="price"
            value="<%= campground.price %>"
          />
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="image">Image:</label>
        <input
          class="form-control"
          id="image"
          type="text"
          name="image"
          placeholder="https://images.unsplash.com/photo-1507516394281-6e064d425a26"
          value="<%= campground.image %>"
        />
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description:</label>
        <textarea
          class="form-control"
          name="description"
          id="description"
          cols="30"
          rows="3"
          placeholder="Put some description here"
        >
<%= campground.description %> </textarea
        >
      </div>
      <div class="mb-3">
        <label class="form-label" for="location">Location:</label>
        <input
          class="form-control"
          id="location"
          type="text"
          name="location"
          placeholder="West Agam"
          value="<%= campground.location %>"
        />
      </div>
      <button class="btn btn-primary">update</button>
    </form>
    <a href="/campgrounds">back</a>
  </div>
</div>
