<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= campground.title %></title>
  </head>
  <body>
    <h1><%= campground.title %></h1>
    <h2><%= campground.location %></h2>
    <form
      action="/campgrounds/<%= campground._id%>?_method=DELETE"
      method="POST"
    >
      <button>delete</button>
    </form>
    <button><a href="/campgrounds/<%= campground._id %>/edit">edit</a></button>
    <button><a href="/campgrounds">back</a></button>
  </body>
</html>
