<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head.ejs') %>
    <title><%= subpath %></title>
  </head>
  <body>
    <%- include('partials/navbar.ejs') %>
    <div class="container">
      <h1><%= subpath.toUpperCase() %></h1>
      <% for (let photo of photos) { %>
      <div>
        <img src="<%= photo.thumbnailUrl %>" alt="" />
      </div>
      <% } %>
    </div>
  </body>
</html>
